/* .image_box {
    position: relative;
} */

.wrapper {
    position: relative;
}

.car {
    cursor: pointer;
}

.car.big {
    position: fixed;
    top: calc(50% - 300px);
    left: calc(50% - 350px);
    width: 700px;
    height: 600px;
    transition: .5s;
}